# Copy this file to `.env` and update it with the settings for your local environment

# Database URL, replace the values with your own
DATABASE_URL="mongodb+srv://username:password@some.server.mongodb.net/dbname?retryWrites=true&w=majority"

# Port where the server will run
PORT=3000
