# Copy this file to `.env` and update it with the settings for your local environment

# Database connection settings
DATABASE_URL="mysql://root:root@localhost:3306/fed25_books"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_NAME="fed25_books"

# Port where the server will run
# PORT=3000

# Number of rounds for the bcrypt hashing algorithm
SALT_ROUNDS=10

# Access token lifetime
ACCESS_TOKEN_LIFETIME="15min"

# Access token secret (generate a random string for this)
ACCESS_TOKEN_SECRET=

# Refresh token lifetime
REFRESH_TOKEN_LIFETIME="1h"

# Refresh token secret (generate a DIFFERENT random string for this)
REFRESH_TOKEN_SECRET=
